<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mycity4kids"
    android:versionCode="106"
    android:versionName="9.2.1">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26"
        tools:overrideLibrary="life.knowledge4.videotrimmer, im.ene.toro.exoplayer, im.ene.toro" />
    <!-- So that we can get the account name -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Used to request data from the Google+ APIs in the SignInActivity -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Required if we need to invalidate access tokens -->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    !-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/myicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- API key For Google Map Local -->

        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="AIzaSyDW1kR3eOOksMp4gBrOnyGVB-q9bFJ21x4" />-->


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCLaeioxT3JtDNGj4aczM_Clno7T_WTfWU" />

        <!--// this is old one keyyyyy-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.mycity4kids.receiver.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".filechooser.com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:icon="@drawable/myicon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_status">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--The following intent filter is added to provide deep linking to the MC4K app  -->
            <intent-filter android:autoVerify="true">
                <data android:scheme="mc4k" />
                <data android:scheme="mck" />
                <data android:scheme="mycity4kids" />
                <data android:scheme="momspresso" />
                <data
                    android:host="www.mycity4kids.com"
                    android:scheme="http" />
                <data
                    android:host="www.momspresso.com"
                    android:scheme="http" />
                <data
                    android:host="*.momspresso.com"
                    android:scheme="http" />
                <data
                    android:host="mycity4kids.com"
                    android:scheme="http" />
                <data
                    android:host="momspresso.com"
                    android:scheme="http" />
                <data
                    android:host="momspresso.com"
                    android:scheme="https" />
                <data
                    android:host="www.mycity4kids.com"
                    android:scheme="https" />
                <data
                    android:host="www.momspresso.com"
                    android:scheme="https" />
                <data
                    android:host="*.momspresso.com"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Login Activity for facebook & app id -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider206155642763202"
            android:exported="true" />

        <activity
            android:name=".ui.activity.BlogFilterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".ui.activity.MissingPlaceActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|uiMode|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.NewsLetterWebviewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.LoadWebViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".cropimage.CropImage"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|uiMode|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.ActivityLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".googlemap.MapActivity" />
        <activity
            android:name=".ui.activity.HomeCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.SelectLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BusinessListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.BusinessListActivityKidsResources"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.WriteReviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.BusinessDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.RecentlyViewedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.BookOrPayWebActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.AutoSuggestTransparentDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.YouTubeVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.TopPicksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ReportAnErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.PhotoSlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|uiMode|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rankingTheme" />
        <activity
            android:name=".ui.activity.TutorialActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|uiMode|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_status"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".editor.EditorPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".editor.ArticleImageTagUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ContributorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true">  <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="tagmanager.c.com.mycity4kids" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ArticleListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CityBestArticleListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FilteredTopicsArticleListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FollowersAndFollowingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VlogsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.VideoTrimmerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddVideoDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoUploadProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyFunnyVideosListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.IdTokenLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LanguageSpecificArticleListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubscribeTopicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BloggerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserPublishedAndDraftsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AppSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ArticleDetailsContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RankingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rankingTheme" />
        <activity
            android:name=".ui.activity.BlogSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.nnn" />
        <activity
            android:name=".ui.activity.AddArticleTopicsActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ArticleModerationOrShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CompleteBloggerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserActivitiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AllVideosListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LanguageSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupsSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupsQuestionnaireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupPostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddPollGroupPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.AddTextOrMediaGroupPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupsListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupSettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.LeaveGroupActivity" />
        <activity android:name=".ui.activity.EditGroupActivity" />
        <activity
            android:name=".ui.activity.AddShortStoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ShortStoryContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupCategoriesSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupsReportedContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupMembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupsEditPostActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.mycity4kids.reminders.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name="com.mycity4kids.reminders.CancelNotificationReceiver" />

        <!-- <service android:name="com.mycity4kids.gcm.GcmIntentService" />-->
        <service android:name="com.mycity4kids.sync.PushTokenService" />
        <service android:name="com.mycity4kids.sync.SyncUserInfoService" />
        <service android:name="com.mycity4kids.tts.ReadArticleService" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0955a2855f4c5641b7994b98f58aef7eadbf4cd5" />

        <service android:name=".fcm.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".fcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service
            android:name=".sync.CategorySyncService"
            android:exported="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon"
            tools:ignore="ManifestResource" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_bg" />
        <!--<service-->
        <!--android:name="com.google.android.gms.measurement.AppMeasurementService"-->
        <!--android:enabled="false"-->
        <!--android:exported="false"-->
        <!--tools:replace="android:enabled" />-->

        <!--<receiver-->
        <!--android:name="com.google.android.gms.measurement.AppMeasurementReceiver"-->
        <!--android:enabled="false"-->
        <!--tools:replace="android:enabled">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.gms.measurement.UPLOAD" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>
</manifest>
