/MyCity4Kids/build
/MyCity4Kids/facebook-android-sdk-3.6.0/gen
/MyCity4Kids/facebook-android-sdk-3.6.0/bin
/MyCity4Kids/facebook-android-sdk-3.6.0/build
/MyCity4Kids/google-play-services_lib/build
/MyCity4Kids/google-play-services_lib/gen
/MyCity4Kids/google-play-services_lib/bin
/MyCity4Kids/MyCity4Kids/gen
/MyCity4Kids/MyCity4Kids/bin
/MyCity4Kids/MyCity4Kids/build
/MyCity4Kids/SocialApis/gen
/MyCity4Kids/SocialApis/bin
/MyCity4Kids/SocialApis/build
/MyCity4Kids/.idea
/MyCity4Kids/.idea/workspace.iml
/MyCity4Kids/.gradle
/MyCity4Kids/.gradle/2.4
/MyCity4Kids/MyCity4Kids/MyCity4Kids-MyCity4Kids.iml
/MyCity4Kids/MyCity4Kids.iml
/MyCity4Kids/local.properties
/MyCity4Kids/volley/volley.iml
/MyCity4Kids/SocialApis/SocialApis.iml
/MyCity4Kids/MyCity4Kids/.classpath
/MyCity4Kids/MyCity4Kids/.project
/MyCity4Kids/google-play-services_lib/google-play-services_lib.iml
/MyCity4Kids/facebook-android-sdk-3.6.0/facebook-android-sdk-3.6.0.iml
/.idea
.idea
*.properties
.DS_Store
