*.iml
.gradle
/local.properties
/.idea/codeStyles/codeStyleConfig.xml
/.idea/gradle.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/codeStyles/
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release/
/WordPressEditor/build/
/captures
.externalNativeBuild
.cxx
