<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.mycity4kids">

  <uses-sdk tools:overrideLibrary="io.branch.referral, com.crashlytics.android, im.ene.toro.exoplayer, im.ene.toro,com.facebook.shimmer,org.wordpress.android.editor" />
  <!-- So that we can get the account name -->
  <uses-permission android:name="android.permission.CAMERA" /> <!-- Used to request data from the Google+ APIs in the SignInActivity -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- Required if we need to invalidate access tokens -->
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- External storage for caching. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- My Location -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Maps API needs OpenGL ES 2.0. -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />

  <application
    android:name=".application.BaseApplication"
    android:allowBackup="false"
    android:hardwareAccelerated="true"
    android:icon="@drawable/myicon"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:requestLegacyExternalStorage="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true"
    tools:replace="android:allowBackup">
    <activity
      android:name=".ui.rewards.activity.RewardsShareReferralCodeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.mymoneytracker.activity.TrackerActivity"
      android:label="@string/title_activity_tracker"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />
    <meta-data
      android:name="com.facebook.accountkit.ApplicationName"
      android:value="@string/app_name" />
    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id" />
    <meta-data
      android:name="com.facebook.accountkit.ClientToken"
      android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

    <receiver
      android:name=".receiver.InstallReferrerReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>

    <activity
      android:name=".filechooser.com.ipaulpro.afilechooser.FileChooserActivity"
      android:enabled="@bool/use_activity"
      android:exported="true"
      android:icon="@drawable/ic_chooser"
      android:label="@string/choose_file"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.GET_CONTENT" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.OPENABLE" />

        <data android:mimeType="*/*" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.activity.SplashActivity"
      android:icon="@drawable/myicon"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:theme="@style/transparent_status">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <data android:scheme="mc4k" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <action android:name="android.intent.action.VIEW" />
      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="momspr.app.link"
          android:scheme="https" />
        <data
          android:host="momspr-alternate.app.link"
          android:scheme="https" />
      </intent-filter>

      <intent-filter>
        <data
          android:host="open"
          android:scheme="momspr" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="*.momspresso.com"
          android:scheme="https" />
        <data
          android:host="momspresso.com"
          android:scheme="http" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.facebook.FacebookActivity"
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:label="@string/app_name" />
    <activity
      android:name="com.facebook.CustomTabActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:scheme="@string/fb_login_protocol_scheme"
          tools:ignore="ManifestResource" />
      </intent-filter>
    </activity>

    <provider
      android:name="com.facebook.FacebookContentProvider"
      android:authorities="com.facebook.app.FacebookContentProvider206155642763202"
      android:exported="true" />

    <activity
      android:name=".editor.NewEditor"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.BlogFilterActivity"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.Transparent" />
    <activity
      android:name=".ui.activity.NewsLetterWebviewActivity"
      android:configChanges="keyboardHidden|screenSize|orientation"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.LoadWebViewActivity"
      android:configChanges="keyboardHidden|screenSize|orientation"
      android:label="@string/app_name"
      android:parentActivityName=".ui.activity.DashboardActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.ActivityLogin"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.activity.ForgotPasswordActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.LoadingActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.Transparent"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.DashboardActivity"
      android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|uiMode|keyboard"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.rankingTheme" />
    <activity
      android:name=".ui.activity.TutorialActivity"
      android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|uiMode|keyboard"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:theme="@style/transparent_status"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".editor.ArticleImageTagUploadActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ContributorListActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.google.android.gms.tagmanager.PreviewActivity"
      android:label="@string/app_name"
      android:noHistory="true"> <!-- optional, removes the previewActivity from the activity stack. -->
      <intent-filter>
        <data android:scheme="tagmanager.c.com.mycity4kids" />

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.activity.ArticleListingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ArticleDetailsContainerActivity"
      android:configChanges="uiMode"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.FilteredTopicsArticleListingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.FollowersAndFollowingListActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.VideoTrimmerActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.AddVideoDetailsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.VideoUploadProgressActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.IdTokenLoginActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.SearchAllActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.SubscribeTopicsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.AppSettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.rewards.activity.RewardsContainerActivity"
      android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.nnn"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.RankingActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.rankingTheme" />
    <activity
      android:name=".ui.activity.BlogSetupActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.nnn" />
    <activity
      android:name=".ui.activity.AddArticleTopicsActivityNew"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ArticleModerationOrShareActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.UserActivitiesActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.LanguageSelectionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupsSummaryActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupsQuestionnaireActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.UpdateUserHandleActivity"
      android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.GroupDetailsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupPostDetailActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.AddPollGroupPostActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateHidden|adjustPan" />
    <activity
      android:name=".ui.ContentCommentReplyNotificationActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateHidden|adjustPan" />
    <activity
      android:name=".ui.activity.AddTextOrMediaGroupPostActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.AddAudioGroupPostActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupsListingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupSettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.LeaveGroupActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.EditGroupActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.AddShortStoryActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateHidden" />
    <activity
      android:name=".ui.activity.ShortStoryContainerActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.GroupCategoriesSelectionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupsReportedContentActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupMembershipActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupsSearchActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.GroupsEditPostActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ViewGroupPostCommentsRepliesActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ExploreArticleListingTypeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ShortStoriesListingContainerActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.TopicsListingActivity"
      android:parentActivityName=".ui.activity.DashboardActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.UserPublishedContentActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.UserDraftsContentActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.LeafNodeTopicArticlesActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.NotificationActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ChangePasswordActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.PhoneLoginUserDetailActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.CategoryVideosListingActivity"
      android:parentActivityName=".ui.activity.DashboardActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ShortStoryChallengeDetailActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.ChooseShortStoryCategoryActivity"
      android:parentActivityName=".ui.activity.DashboardActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.videochallengenewui.activity.NewVideoChallengeActivity"
      android:parentActivityName=".ui.activity.CategoryVideosListingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.UserReadArticlesContentActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.MyTotalEarningActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ParallelFeedActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.rankingTheme" />
    <activity
      android:name=".ui.activity.SpellCheckActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.campaign.activity.CampaignContainerActivity"
      android:parentActivityName=".ui.activity.DashboardActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.CustomSignUpActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.campaign.activity.CampaignHowToVideoActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.Transparent" />
    <activity
      android:name=".ui.activity.ProfileSetting"
      android:screenOrientation="portrait" />
    <activity
      android:name=".profile.UserProfileActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.FeaturedOnActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ReportSpamActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ProfileWebViewActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.FollowingListFBSuggestionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.UserInviteFBSuggestionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.OTPActivity"
      android:screenOrientation="portrait" />

    <meta-data
      android:name="io.branch.sdk.BranchKey"
      android:value="key_live_biVD0NPXvtpWQHXCrmlrdibfwCcprbxK" />

    <activity
      android:name="com.yalantis.ucrop.UCropActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity
      android:name=".ui.videochallengenewui.activity.ExoplayerVideoChallengePlayViewActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.collection.CollectionsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.collection.UserCollectionItemListActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EditorTheme" />
    <activity
      android:name=".ui.activity.collection.EditCollectionActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.activity.BadgeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.phoneLogin.FacebookFriends"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.collection.AddMultipleCollectionItemActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ShortStoriesCardActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ContentCreationTutorialListingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".vlogs.VideoCategoryAndChallengeSelectionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ArticleChallengeOrTopicSelectionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.PhoneContactsActivity"
      android:screenOrientation="portrait"
      android:theme="@style/PermissionDialogTheme" />
    <activity
      android:name=".ui.activity.ShortStoryModerationOrShareActivity"
      android:screenOrientation="portrait"
      android:theme="@style/ShareStoryTheme" />
    <activity
      android:name=".ui.activity.ArticleChallengeDetailActivity"
      android:screenOrientation="portrait" />
    <activity android:name=".ui.activity.DeeplinkActivity" />
    <activity
      android:name=".ui.activity.NotificationSettingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.BlockUnBlockUserActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.ViewAllCommentsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activity.SecuritySettingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.momspressotv.MomspressoTelevisionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.livestreaming.UpcomingLivesActivity"
      android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".ui.livestreaming.LiveStreamingActivity"
      android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />

    <service android:name=".sync.PushTokenService" />
    <service android:name=".sync.FetchAdvertisementInfoService" />
    <service android:name=".sync.FetchPublicIpAddressService" />
    <service android:name=".sync.SyncUserInfoService" />
    <service android:name=".sync.SyncUserFollowingList" />
    <service android:name=".tts.ReadArticleService" />

    <receiver
      android:name="com.google.android.gms.analytics.AnalyticsReceiver"
      android:enabled="true">
      <intent-filter>
        <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
      </intent-filter>
    </receiver>

    <service
      android:name="com.google.android.gms.analytics.AnalyticsService"
      android:enabled="true"
      android:exported="false" />

    <provider
      android:name=".utils.GenericFileProvider"
      android:authorities="${applicationId}.my.package.name.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="com.momspresso.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="@string/admob_id" />

    <service android:name=".fcm.MyFcmListenerService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <service
      android:name=".sync.CategorySyncService"
      android:exported="false" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/notification_icon"
      tools:ignore="ManifestResource" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/blue_bg" />

    <receiver
      android:name="com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.mycity4kids.receiver.CancelNotification" />
  </application>

</manifest>
